{{ define "main" }}

<div class="row mb-3">
    <article class="col-md-8">
        <div class="container shadow p-3 my-3  rounded">        
            <h1>{{ .Title }}</h1>
            <p>{{ .Date.Format "2 January 2006"}} </p>
            <p>Tags: </p>
            <ul class="tags">
                 {{ range $name := .Params.tags }}
                    <li class="tag"><a href="{{ "tags" | absURL }}/{{ $name | urlize }}.html">{{ $name }}</a></li>
                {{ end }}
            </ul>    
            
            <div class="content">
                 {{ .Content }}
            </div>
        </div>
    </article>

    <nav  class="col-md-4 px-2"  aria-labelledby="menulabel">
        <div >       
            {{ partial "widget-recent.html" . }}
        </div>
    </nav>
</div>

{{ end }}
