{{ define "main" }}

{{ $tag := lower .Title }}

<div class="row mb-3">
    <div class="col-md-8">
        <div class="shadow p-3 my-3 bg-white rounded">
            <div class="content">
                <h2>Articles Tagged : {{ .Title }}</h2>
{{ range $key, $value := .Site.Taxonomies.tags }}{{ if eq $key $tag }}{{ range $value.Pages }}
               
                    
                        <section class="border p-3 my-3 rounded">
                            <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
                            <p class="subtitle is-size-6 has-text-grey-light">
                              {{ .Date.Format "January 2, 2006" }} &middot;
                                {{.ReadingTime}} min read
                            </p>
                            <p>{{ .Summary }} <a href="{{ .RelPermalink }}">Read More</a></p>
                        </section>
                  
                
                <br>
{{ end }}{{ end }}{{ end }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        {{ partial "widget-tags.html" . }}<br>
        {{ partial "widget-recent.html" . }}<br>
     
    </div>
</div>

{{ end }}
