<!doctype html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ "css/bootstrap-4.5.0.min.css" | absURL }}" /> 
    
    

  <title>{{ .Site.Title }} {{ with .Title }} | {{ . }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}" /> 
  <link rel="stylesheet" href="{{ "css/blog.css" | absURL }}" /> 
  
  <link
    href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}"
    rel="alternate"
    type="application/rss+xml"
    title="{{ .Site.Title }}"
  />
  <link
    href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}"
    rel="feed"
    type="application/rss+xml"
    title="{{ .Site.Title }}"
  />
 
</head>
<body>
  
  <header>
    <div class="container">
      <h1><a href="{{ .Site.BaseURL | absURL }}">Some Thoughts</a></h1>
    </div>
  </header>

